{{ define "main" }}
{{- with .Content -}}
  {{ . }}
{{- end -}}

{{- $sections := default (slice "posts") .Site.Params.mainSections -}}
{{- $pages := where .Site.RegularPages "Section" "in" $sections -}}

{{ partial "post/blog-posts.html" (dict "pages" $pages.ByDate.Reverse "filterable" true) }}

{{- $allTags := slice -}}
{{- range $pages -}}
  {{- with .Params.tags -}}
    {{- range . -}}
      {{- $allTags = $allTags | append ((printf "%v" .) | lower | replaceRE "\\s+" "-") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $allTags = $allTags | uniq | sort -}}
{{- $tagsJson := $allTags | jsonify -}}
{{- $tagsB64 := $tagsJson | base64Encode -}}

{{ end }}
