{{- $pages := .pages | default (slice) -}}

{{- $sorted := sort $pages "Date" "desc" -}}
{{- if gt (len $sorted) 0 -}}
  {{- $scratch := newScratch -}}
  {{- range $sorted -}}
    {{- $year := .Date.Format "2006" -}}
    {{- if ne $year ($scratch.Get "lastYear") -}}
      {{- if $scratch.Get "lastYear" -}}
        </ul>
      {{- end -}}
      <h3>{{ $year }}</h3>
      <ul class="post-list">
      {{- $scratch.Set "lastYear" $year -}}
    {{- end -}}

    <li>
      <time datetime="{{ .Date | time.Format "2006-01-02" }}">{{ .Date.Format "02 Jan." }}</time>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
  {{- end -}}
  {{- if $scratch.Get "lastYear" -}}</ul>{{- end -}}
{{- else -}}
  <ul class="blog-posts"><li>{{ i18n "no_posts_yet" }}</li></ul>
{{- end -}}
